img{
  display: block;
  margin: auto;
}
body {
  background-color: green;
  color:black;
  }
p{
  font-family: "Courier New";
}
h1{
  font-family: "Courier New"
}

#regularShow{
  background-color: #f27a10;
  font-family: Courier;
  }
#school{
  background-color: #f27a10;
  font-family: Courier;
  border-top:100px;
  border-bottom:5px;
  border-left:5px;
  border-right:5px;
}
#bold{
  font-weight: bold;

}
#centerone{
  text-align:center;
}

img{
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 100%;
  border-style:groove;
  border-color: black
}


ul{
  list-style-type: disc;
  Margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
}
